@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
    p {
        margin: 0;
        line-height: 1.2; /* Réduit l'espace interne entre les lignes */
    }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to my portfolio</h1>
    </header>

    <section>
        <h2>About me</h2>
        <p ASP.NET</p>
        <p .NET Core</p>
        <p>SQL Servers</p>
        <p>Jenkins</p>
        <p>Docker</p>
        <p>Cloud</p>
        <p>TDD</p>
        <p>Aglity</p>
    </section>

    <footer>
        <p>Contactez-moi à <a href="mailto:nathan.dauny@gmail.com">nathan.dauny@gmail.com</a></p>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>